*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 120px;
    padding-top: 0px;
}

.title{
    font-weight: 900;
}

.title.one{
    font-size: 48px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 65px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    align-content: baseline;
    flex-basis: 300px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    flex-basis: 30px;
    width: 80px;
    font-weight: 900;
}

.logo{
    font-size: 24px;
}

.bottom p{
    font-size: 18px;
    color: #E5E7EB;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.container .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title.two{
    font-size: 30px;
    padding-top: 20px;
}

.images.and.texts{
    display: flex;
    justify-content: space-between;
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
}

.text{
    align-self: center;
}

.bottom.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    padding: 100px;
}

.box.one{
    padding: 50px 90px;
    padding-bottom: 10px;
}

.author{
    font-size: 18px;
    font-weight: 900;
    color: black;
    align-self: flex-end;
}

.bottom.three{
    background-color: #3882F6;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 50px;
    padding-right: 140px;
    padding-left: 140px;
}

.box.two{
    color: #F9FAF8;
}

.container button{
    border-color: #F9FAF8;
    flex-shrink: 0;
    width: 150px;
    flex-basis: 100px;
    padding: 5px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}